
.vs/IstanbulResearchCenter/v16/.suo
.vs/IstanbulResearchCenter/v16/.suo
SciencesStudies/bin/Debug/SciencesStudies.exe
SciencesStudies/bin/Debug/SciencesStudies.pdb
SciencesStudies/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SciencesStudies/obj/Debug/SciencesStudies.csproj.GenerateResource.cache
SciencesStudies/obj/Debug/SciencesStudies.csprojAssemblyReference.cache
SciencesStudies/obj/Debug/SciencesStudies.exe
SciencesStudies/obj/Debug/SciencesStudies.pdb
.vs/IstanbulResearchCenter/v16/.suo
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide-shm
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide-wal
SciencesStudies/Script of InstituteDb.sql
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide
