.vs/IstanbulResearchCenter/v16/.suo
.vs/IstanbulResearchCenter/v16/.suo
SciencesStudies/bin/Debug/SciencesStudies.exe
SciencesStudies/bin/Debug/SciencesStudies.pdb
SciencesStudies/obj/Debug/DesignTimeResolveAssemblyReferences.cache


*.exe
.vs/IstanbulResearchCenter/v16/.suo
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide-shm
SciencesStudies/bin/Debug/SciencesStudies.pdb
.vs/IstanbulResearchCenter/v16/.suo
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide-wal
SciencesStudies/bin/Debug/SciencesStudies.exe
SciencesStudies/bin/Debug/SciencesStudies.exe.config
SciencesStudies/bin/Debug/SciencesStudies.pdb
SciencesStudies/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SciencesStudies/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SciencesStudies/obj/Debug/SciencesStudies.csproj.FileListAbsolute.txt
 
SciencesStudies/obj/Debug/SciencesStudies.csproj.GenerateResource.cache
SciencesStudies/obj/Debug/SciencesStudies.csprojAssemblyReference.cache
SciencesStudies/obj/Debug/SciencesStudies.exe
SciencesStudies/obj/Debug/SciencesStudies.pdb

.vs/IstanbulResearchCenter/v16/.suo
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide-shm
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide-wal
SciencesStudies/Script of InstituteDb.sql
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide
SciencesStudies/obj/Debug/SciencesStudies.pdb
SciencesStudies/obj/Debug/SciencesStudies.exe
SciencesStudies/obj/Debug/SciencesStudies.csprojAssemblyReference.cache
SciencesStudies/obj/Debug/SciencesStudies.csproj.GenerateResource.cache
SciencesStudies/bin/Debug/SciencesStudies.pdb
SciencesStudies/bin/Debug/SciencesStudies.exe
.vs/IstanbulResearchCenter/v16/.suo

SciencesStudies/obj/Debug/SciencesStudies.Properties.Resources.resources
SciencesStudies/obj/Debug/TempPE/Model.DbModelsAltogether.cs.dll
SciencesStudies/obj/Debug/TempPE/Model.DbModelsAltogether.Designer.cs.dll
SciencesStudies/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll

.vs/IstanbulResearchCenter/v16/.suo
.vs/IstanbulResearchCenter/v16/.suo

.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide
.vs/IstanbulResearchCenter/v16/.suo
SciencesStudies/obj/Debug/SciencesStudies.pdb
SciencesStudies/obj/Debug/SciencesStudies.exe
SciencesStudies/obj/Debug/SciencesStudies.csprojAssemblyReference.cache
SciencesStudies/obj/Debug/SciencesStudies.csproj.GenerateResource.cache
SciencesStudies/obj/Debug/SciencesStudies.csproj.FileListAbsolute.txt
SciencesStudies/bin/Debug/SciencesStudies.pdb
SciencesStudies/bin/Debug/SciencesStudies.exe
.vs/IstanbulResearchCenter/v16/.suo

.vs/IstanbulResearchCenter/v16/.suo
SciencesStudies/FormsInCommon/FormSignIn.cs
SciencesStudies/bin/Debug/SciencesStudies.exe
SciencesStudies/bin/Debug/SciencesStudies.pdb
SciencesStudies/obj/Debug/SciencesStudies.exe
SciencesStudies/obj/Debug/SciencesStudies.pdb

*.cache
*.config
*.exe
*.resources
*.dll
*.pdb
*.exe

.vs/IstanbulResearchCenter/v16/.suo
.vs/IstanbulResearchCenter/v16/Server/sqlite3/storage.ide
SciencesStudies/bin/Debug/SciencesStudies.exe
SciencesStudies/bin/Debug/SciencesStudies.exe.config
SciencesStudies/bin/Debug/SciencesStudies.pdb
SciencesStudies/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SciencesStudies/obj/Debug/SciencesStudies.csproj.FileListAbsolute.txt
SciencesStudies/obj/Debug/SciencesStudies.exe
SciencesStudies/obj/Debug/SciencesStudies.csprojAssemblyReference.cache
SciencesStudies/obj/Debug/SciencesStudies.csproj.GenerateResource.cache
SciencesStudies/obj/Debug/SciencesStudies.pdb
