USE [master]
GO
/****** Object:  Database [InstituteDb]    Script Date: 23.04.2020 17:47:08 ******/
CREATE DATABASE [InstituteDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InstituteDb', FILENAME = N'C:\Users\berke\InstituteDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InstituteDb_log', FILENAME = N'C:\Users\berke\InstituteDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InstituteDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InstituteDb]
GO
USE [InstituteDb]
GO
/****** Object:  Table [dbo].[Academicians]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Academicians](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[Gender] [varchar](255) NULL,
	[Age] [int] NULL,
	[College] [varchar](255) NULL,
	[Department] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollegeStudents]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollegeStudents](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[Gender] [varchar](255) NULL,
	[Age] [int] NULL,
	[College] [varchar](255) NULL,
	[Department] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnglishBooks]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnglishBooks](
	[Id] [int] NOT NULL,
	[BookName] [varchar](255) NULL,
	[LanguageOfIt] [varchar](255) NULL,
	[KindOfBook] [varchar](255) NULL,
	[AuthorName] [varchar](255) NULL,
	[Price] [int] NULL,
	[Available] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForeignMembers]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForeignMembers](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[Gender] [varchar](255) NULL,
	[Age] [int] NULL,
	[Nationality] [varchar](255) NULL,
	[Job] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralBooks]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralBooks](
	[Id] [int] NOT NULL,
	[BookName] [varchar](255) NULL,
	[LanguageOfIt] [varchar](255) NULL,
	[KindOfBook] [varchar](255) NULL,
	[AuthorName] [varchar](255) NULL,
	[Price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralMembers]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralMembers](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[Gender] [varchar](255) NULL,
	[Age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journals]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journals](
	[Id] [int] NOT NULL,
	[JournalName] [varchar](255) NULL,
	[LanguageOfIt] [varchar](255) NOT NULL,
	[SubjectOfIt] [varchar](255) NULL,
	[Country] [varchar](255) NOT NULL,
	[Price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiteratureBooks]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiteratureBooks](
	[Id] [int] NOT NULL,
	[BookName] [varchar](255) NULL,
	[LanguageOfIt] [varchar](255) NULL,
	[KindOfBook] [varchar](255) NULL,
	[AuthorName] [varchar](255) NULL,
	[Price] [int] NULL,
	[Country] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MathematicalBooks]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MathematicalBooks](
	[Id] [int] NOT NULL,
	[BookName] [varchar](255) NULL,
	[LanguageOfIt] [varchar](255) NULL,
	[KindOfBook] [varchar](255) NULL,
	[AuthorName] [varchar](255) NULL,
	[Price] [int] NULL,
	[Branch] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Newspapers]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Newspapers](
	[Id] [int] NOT NULL,
	[NewspapersName] [varchar](255) NULL,
	[LanguageOfIt] [varchar](255) NOT NULL,
	[Contry] [varchar](255) NULL,
	[Price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderList]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderList](
	[Id] [int] NOT NULL,
	[KindOfText] [varchar](255) NULL,
	[NameOfText] [varchar](255) NULL,
	[LanguageOfIt] [varchar](255) NULL,
	[Price] [int] NULL,
	[DeliveryDay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Researchers]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Researchers](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[Gender] [varchar](255) NULL,
	[Age] [int] NULL,
	[College] [varchar](255) NULL,
	[Department] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialBooks]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialBooks](
	[Id] [int] NOT NULL,
	[BookName] [varchar](255) NULL,
	[LanguageOfIt] [varchar](255) NULL,
	[KindOfBook] [varchar](255) NULL,
	[AuthorName] [varchar](255) NULL,
	[Price] [int] NULL,
	[Branch] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 23.04.2020 17:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[Gender] [varchar](255) NULL,
	[Age] [int] NULL,
	[College] [varchar](255) NULL,
	[Department] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Academicians] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (2, N'Akhtar ', N'Jamil', N'Male', 35, N'Zaim University', N'Software,Computer')
INSERT [dbo].[Academicians] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (3, N'Selim', N'Kalin', N'Male', 40, N'Istanbul University', N'Political Science')
INSERT [dbo].[Academicians] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (4, N'Volkan', N'Cekip', N'Male', 45, N'Medipol University', N'Biology and Health')
INSERT [dbo].[CollegeStudents] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (1, N'Enes', N'Damlayici', N'Male', 22, N'Zaim University', N'Sociology')
INSERT [dbo].[CollegeStudents] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (2, N'Ibrahim Sami', N'Ince', N'Male', 22, N'Zaim University', N'Turkish Teaching')
INSERT [dbo].[CollegeStudents] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (3, N'Hasan ', N'Ozdogan', N'Male', 23, N'Zaim University', N'Political Science')
INSERT [dbo].[EnglishBooks] ([Id], [BookName], [LanguageOfIt], [KindOfBook], [AuthorName], [Price], [Available]) VALUES (1, N'The Grand Chessboard', N'English', N'International Policy', N'Zbigniew Brzezinski', 30, N'Yes')
INSERT [dbo].[ForeignMembers] ([Id], [FirstName], [LastName], [Gender], [Age], [Nationality], [Job]) VALUES (1, N'Shah Niaz', N'Ahmad', N'Male', 40, N'Canada', N'English Teacher')
INSERT [dbo].[ForeignMembers] ([Id], [FirstName], [LastName], [Gender], [Age], [Nationality], [Job]) VALUES (2, N'Amjad', N'Hussain', N'Male', 35, N'Norway', N'Academician(Theology)')
INSERT [dbo].[ForeignMembers] ([Id], [FirstName], [LastName], [Gender], [Age], [Nationality], [Job]) VALUES (3, N'Akhtar', N'Jamil', N'Male', 40, N'India', N'Software Expert.Academician')
INSERT [dbo].[GeneralBooks] ([Id], [BookName], [LanguageOfIt], [KindOfBook], [AuthorName], [Price]) VALUES (1, N'Hayvan Çiftligi', N'Turkish', N'Literature', N'George Orwell', 13)
INSERT [dbo].[GeneralBooks] ([Id], [BookName], [LanguageOfIt], [KindOfBook], [AuthorName], [Price]) VALUES (2, N'1984', N'Turkish', N'Literature', N'George Orwell', 15)
INSERT [dbo].[GeneralMembers] ([Id], [FirstName], [LastName], [Gender], [Age]) VALUES (1, N'Berke', N'Sayin', N'Male', 21)
INSERT [dbo].[GeneralMembers] ([Id], [FirstName], [LastName], [Gender], [Age]) VALUES (2, N'Mehdi', N'Ay', N'Male', 23)
INSERT [dbo].[GeneralMembers] ([Id], [FirstName], [LastName], [Gender], [Age]) VALUES (3, N'Fatih', N'Aykaç', N'Male', 22)
INSERT [dbo].[LiteratureBooks] ([Id], [BookName], [LanguageOfIt], [KindOfBook], [AuthorName], [Price], [Country]) VALUES (1, N'Suç ve Ceza', N'Türkçe', N'Russian Literature', N'F.M.Dostoyevski', 15, N'Russia')
INSERT [dbo].[LiteratureBooks] ([Id], [BookName], [LanguageOfIt], [KindOfBook], [AuthorName], [Price], [Country]) VALUES (2, N'Bab-I Esrar', N'Türkce', N'Dedective', N'Ahmet Umit', 10, N'Turkey')
INSERT [dbo].[Researchers] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (1, N'Usman', N'Khan', N'Male', 24, N'Zaim University', N'Political Science')
INSERT [dbo].[Researchers] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (2, N'Owais', N'Khan', N'Male', 30, N'Zaim University', N'International Relations')
INSERT [dbo].[Teachers] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (1, N'Ahmet', N'Soylu', N'Male', 35, N'Bogazici University', N'Mathematics')
INSERT [dbo].[Teachers] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (2, N'Mehmet', N'Demir', N'Male', 30, N'Bogazici University', N'Physics')
INSERT [dbo].[Teachers] ([Id], [FirstName], [LastName], [Gender], [Age], [College], [Department]) VALUES (3, N'Selim', N'Sahin', N'Male', 35, N'Istanbul High School', N'Turkish Teaching')
USE [master]
GO
